@{
    ViewData["Title"] = "Home Page";
}

@model BookListNewModel


<header>
    <h1>
        Online Book Store
    </h1>
</header>

@foreach (var x in Model.Books)
{
    <div id="container">
        <h4>Book Title: @x.Title</h4>
        <p>Author: @x.Author</p>
        <p>Publisher: @x.Publisher</p>
        <p>ISBN: @x.ISBN</p>
        <p>Category: @x.Category</p>
        <p>Price: @x.Price</p>
        <p>Number of Pages: @x.PageNumber</p>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>